# Программирование на Python

*Алла Тамбовцева, НИУ ВШЭ*

*Данный ноутбук частично основан на [лекции](http://python.math-hse.info:8080/github/ischurov/pythonhse/blob/master/Lecture%201.ipynb) Щурова И.В., [курс](http://math-info.hse.ru/s15/m) «Программирование на языке Python для сбора и анализа данных» (НИУ ВШЭ).*

## Типы данных в Python, приведение типов, форматирование строк

Типы данных:

* *integer (int)*: целочисленный тип, целые числа;
* *float*: вещественный тип, числа с плавающей точкой, они же дробные;
* *string (str)*: строковый или текстовый тип;
* *boolean (bool)*: булев или логический тип, значения `True` и `False`.

С целочисленным типом и числами с плавающей точкой мы уже познакомились. Посмотрим, как определить тип переменной:

In [1]:
x = 2.34
type(x)

float

In [2]:
y = 2
type(y)

int

Или всё вместе через `print()`:

In [3]:
print(type(x), type(y))

<class 'float'> <class 'int'>

Чтобы создать переменную строкового типа, нужны кавычки, причём использовать можно как двойные, так и одинарные:

In [4]:
text = "hello"
text2 = 'hello'
type(text)

str

Иногда требуется преобразовать тип переменной, например, из числа с плавающей точкой сделать целое число. Зачем это бывает нужно? Для удобства и для более корректной выдачи результатов. Например, у нас есть база данных по респондентам, в которой указан их год рождения, и мы хотим добавить столбец с возрастом респондентов (числом полных лет). Из-за того, что кто-то ввел год в виде 1993.0, возраст при вычислениях тоже получится числом с плавающей точкой — 25.0. Так как мы знаем, что возраст всегда будет целым, чтобы дробная часть не смущала, можно привести все значения к целочисленному типу.

In [5]:
int(25.0)

25

Вообще функции для изменения типа переменных называются так же, как и сами типы или их сокращённые названия.

In [6]:
float(23)

23.0

In [7]:
str(2)

'2'

Однако, если преобразование невозможно, Python выдаст ошибку (а точнее, исключение `ValueError`, про исключения поговорим позже):

In [8]:
float('23,56')

ValueError: could not convert string to float: '23,56'

Так как запятая в Python не воспринимается как десятичный разделитель (в качестве разделителя используется точка), превратить строку '23,56' в число не получится, нужно будет сначала заменить запятую на точку. Как работать со строками, мы обсудим позже, но если интересно, можно сделать следующее: создать любую строковую переменную, а потом после её названия поставить точку и нажать *Tab*. Так же, как и в случае с модулем `math`, выпадет список всех возможных методов, которые можно применять к строке.

В Python активно реализуется перегрузка операторов, которая выражается в том, что одни и те же операторы могут выполнять разные задачи в зависимости от типа данных, к которым они применяются. Если говорить совсем формально и залезать в терминологию объектно-ориентированного программирования, для Python характерен полиморфизм – разное поведение операций и методов на разных классах. О классах мы будем говорить позже, а пока посмотрим на примеры такого поведения.

In [9]:
one = "abc"
two = "def"

one + two

'abcdef'

По идее, при исполнении кода выше мы должны были получить ошибку, нельзя применять сложение не к числам. Но нет: операция сложения в Python на строках тоже имеет смысл – она обеспечивает конкатенацию (склеивание) строк. А можно ли умножать строку на число? Давайте проверим:

In [10]:
one * 2

'abcabc'

Как выяснилось, можно. Здесь операция умножения работает как в математике: умножить число на число – то же самое что сложить это число необходимое количество раз. А складывать строки (то есть склеивать) Python умеет.
Но, конечно, аналогии не могут продолжаться бесконечно:

In [11]:
# возведение строки в степень – уже перебор
one ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

## Ввод и вывод

### Ввод информации с клавиатуры

Иногда возникает необходимость запросить какую-нибудь информацию у пользователя — попросить ввести её с клавиатуры. Это может быть нужно, например, когда мы пытаемся имитировать заполнение какой-нибудь формы (собрать информацию и обработать) или написать функцию, которая будет работать по-разному в зависимости от режима ("Если хотите выгрузить данные из файла, нажмите 1, если хотите вводить данные вручную, введите 2"). 

Запросить данные с клавиатуры можно с помощью функции `input()`:

In [12]:
input()

23

'23'

Однако обычно нам нужно не просто вывести на экран то, что ввёл пользователь (он и сам это видит), но и сохранить введенную информацию. Сделаем это (и заодно перейдём к числам).

In [13]:
num = input("Введите число: ")

Введите число: 5

Теперь мы можем работать с переменной `num`, в которую мы сохранили результат ввода с клавиатуры.

In [14]:
print(num)

5

Введенное нами число 5 сохранилось. Однако, если посмотреть внимательнее, это не совсем число, это строка! Проверим:

In [15]:
# действительно
print(num, type(num))

5 <class 'str'>

Функция `input()` всегда возвращает обект типа *string*. Тут нам и пригодится преобразование типов переменных:

In [16]:
num = int(input("Введите число: "))
print(num, type(num))

Введите число: 5
5 <class 'int'>

Раз мы не предлагаем пользователю ввести именно целое число, число может быть любым, даже дробным. Учтём это – будем конвертировать введенный текст в число с плавающей точкой.

In [17]:
num = float(input("Введите число: "))
print(num)

Введите число: 23.5
23.5

С клавиатуры можно вводить сколько угодно объектов:

In [18]:
numbers = input("Введите числа через пробел: ")

Введите числа через пробел: 3 4

In [19]:
print(numbers)

3 4

Только тогда для работы с отдельными элементами ввода потребуется разбить строку на части по какому-нибудь символу (в нашем случае – по пробелу). О разбиении текста на части поговорим позже, когда будем обсуждать работу со строками, а пока разберём вывод информации на экран.

### Вывод информации на экран

Как мы уже знаем, для вывода чего-либо на экран в Python существует функция `print()`:

In [20]:
print(5)
print('Hello!')

5
Hello!

Для того, чтобы вывести на экран сразу несколько объектов, нужно просто перечислить их через запятую в круглых скобках.

In [21]:
year = "2023"
mon = "01"
day = "23"

print(day, mon, year)

23 01 2023

По умолчанию в качестве разделителей (отделяющих объекты друг от друга) используются пробелы. Но при желании это можно поправить, добавив аргумент `sep` (от *separator* – разделитель):

In [22]:
print(day, mon, year, sep='-')

23-01-2023

In [23]:
print(day, mon, year, sep='/')

23/01/2023

В качестве разделителя можно использовать и специальные символы, например, символ для перехода на новую строку (`\n` – от *new line*) или символ для отступа в виде красной строки (`\t` – от *tabulation*):

In [24]:
print(day, mon, year, sep='\n')

23
01
2023

In [25]:
print(day, mon, year, sep='\t')

23	01	2023

При работе с функцией `print()` важно помнить, что эта функция используется исключительно для вывода текста на экран, она ничего не возвращает – не умеет сохранять то, что выводит на экран. Если попробуем сохранить результат её исполнения, получим пустой объект – объект особого типа `None`:

In [26]:
s = print(2, 3, sep='-')
print(s)

2-3
None

### Форматрование строк

#### Классическое форматирование через `%`

А теперь посмотрим на то, как подставлять значения в уже имеющийся текстовый шаблон, то есть форматировать строки. Чтобы понять, о чём идет речь, можно представить, что у нас есть электронная анкета, которую заполняет пользователь, и мы должны написать программу, которая выводит на экран введенные данные, чтобы пользователь мог их проверить.

Пусть для начала пользователь вводит своё имя и возраст.

In [27]:
name = input("Введите Ваше имя: ")
age = int(input("Введите Ваш возраст: "))

Введите Ваше имя: Алла
Введите Ваш возраст: 29

Теперь выведем на экран сообщение вида

Ваше имя: `имя`. Ваш возраст: `возраст`. 

Но прежде, чем это сделать, поймем, какого типа будут значения, которые мы будем подставлять в шаблон. Имя – это строка (`string`), а возраст – это целое число (`integer`).

In [28]:
result = "Ваше имя: %s. Ваш возраст: %i." % (name, age)
print(result)

Ваше имя: Алла. Ваш возраст: 29.

Что за таинственные `%s` и `%i`? Все просто: оператор `%` в строке указывает место, на которое будет подставляться значение, а буква сразу после процента – сокращённое название типа данных (`s` – от `string` и `i` – от `integer`). Осталось только сообщить Python, что именно нужно подставлять – после кавычек поставить `%` и в скобках перечислить названия переменных, значения которых мы будем подставлять.

Конечно, результат можно выводить сразу, не сохраняя полученную строку в переменную.

In [29]:
print("Ваше имя: %s. Ваш возраст: %i." % (name, age))

Ваше имя: Алла. Ваш возраст: 29.

**Примечание:** не теряйте часть с переменными после самой строки, а также круглые скобки вокруг названий переменных, из которых мы подставляем значения, если их несколько.

Важно помнить, что если мы забудем указать какую-то из переменных, мы получим ошибку (точнее, исключение): Python не будет знать, откуда брать нужные значения.

In [30]:
print("Ваше имя: %s. Ваш возраст: %i." % name)

TypeError: not enough arguments for format string

Кроме того, создавая такие текстовые шаблоны, нужно обращать внимание на типы переменных, значения которых мы подставляем.

In [31]:
# так сработает, int -> str
print("Ваше имя: %s. Ваш возраст: %s." % (name, age))

Ваше имя: Алла. Ваш возраст: 29.

In [32]:
# а так нет, str !-> int
print("Ваше имя: %i. Ваш возраст: %s." % (name, age))

TypeError: %i format: a number is required, not str

А что будет, если мы будем подставлять не целое число, а дробное, с плавающей точкой? Попробуем!

In [34]:
height = float(input("Введите Ваш рост (в метрах): "))
print(height)

Введите Ваш рост (в метрах): 1.68
1.68

In [35]:
# f - от float
print("Ваш рост: %f м." % height)

Ваш рост: 1.680000 м.

По умолчанию при подстановке значений типа `float` Python выводит число с шестью знаками после запятой. Но это можно исправить. Перед `f` нужно поставить точку и указать число знаков после запятой, которое мы хотим:

In [36]:
# например, два
print("Ваш рост: %.2f м." % height)

Ваш рост: 1.68 м.

In [37]:
# или один
print("Ваш рост: %.1f м. " % height)

Ваш рост: 1.7 м.

В случае, если указанное число знаков после запятой меньше, чем есть на самом деле (как в ячейке выше), происходит обычное арифметическое округление.

#### Форматирование строк через f-strings

Рассмотренный выше способ форматирования строк – не единственный. Он довольно стандартный, но при этом немного устаревший. В Python 3 есть другой способ – форматирование с помощью метода `.format()`. Кроме того, в Python 3.6 и более поздних версиях появился ещё более продвинутый способ форматирования строк – *f-строки* или *f-strings* (от *formatted string literals*, неформально также описывают как *fast strings*). Этот способ позволяет не только подставлять в текстовый шаблон значения переменных, но и исполнять выражения с кодом внутри строки.

F-strings очень удобны и просты в использовании: вместо `%` и сокращённого названия типа в фигурных скобках внутри текстового шаблона нужно указать название переменной, из которой должно подставляться значение, а перед всей строкой добавить `f`, чтобы Python знал, что нам нужна именно f-string.

In [38]:
print(f"Ваше имя: {name}. Ваш возраст: {age}.")

Ваше имя: Алла. Ваш возраст: 29.

В случае подстановки значений типа float в f-строку Python не будет дописывать лишние нули или убирать лишние знаки после запятой, он будет выводить число «как есть»:

In [39]:
# нет лишних знаков
print(f"Ваш рост: {height}.")

Ваш рост: 1.68.

Если нам все же нужно зафиксировать число знаков после запятой, их можно указать после названия переменной через `:`

In [40]:
print(f"Ваш рост: {height:.3f}.")

Ваш рост: 1.680.

In [41]:
print(f"Ваш рост: {height:.1f}.")

Ваш рост: 1.7.

Внутри f-строк также можно размещать целые выражения – небольшой код на Python. В таком случае код будет запущен, а результат его исполнения подставлен в текстовую строку.

In [42]:
print(f"Возраст в квадрате: {age ** 2}.")
print(f"Ваш рост: {round(height, 1)} м.")
print(f"Ваш рост: {height * 100} см.")

Возраст в квадрате: 841.
Ваш рост: 1.7 м.
Ваш рост: 168.0 см.